<div id="social_icons">
<a href="https://x.com/perlweekly"><img src="/img/x.svg" width="32" height="32" alt="Perl Weekly on X" /></a>
<a href="/perlweekly.rss" rel="alternate" type="application/rss+xml"><img src="/img/feed.svg" width="32" height="32" alt="RSS Feed of the Perl Weekly. Updated once a week" /></a>
</div>
