<div class="subform">
   [% INCLUDE tt/incl/subscribe_form.tt %]
   <div class="onemail">
      Just ONE e-mail each Monday. Easy to unsubscribe. No spam. Your e-mail address is safe.
    </div>
</div>
