<html>
<head>
  <title>Perl Weekly [% title %]</title>
[% IF web %]
 <script src="/js/jquery.js" type="text/javascript"></script>
 <script src="/js/mailman.js" type="text/javascript"></script>
[% END %]
</head>
<body>

<style>
table { font-family: helvetica, arial, sans-serif; }
p { margin: 1.2em 0em 1.35em 0em; line-height: 1.4em; }
a { color: #04c; }

.entry {
   margin-left: 1.5em;
}
.entry a {
  font-size: 18px;
  font-weight: bold;
}
.subtitle {
  font-size: 18px;
  font-weight: bold;
}

#logo a {
  background-color: #088;
  color: #FFF;
  text-decoration: none;
  font-size: 40px;
  font-weight: bold;
  font-family: Gadget;

  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border: 1px solid #000;
  padding: 10px;

}

#issue {
  border-bottom: 1px solid #ccc;
  padding-bottom: 8px;
  font-size: 18px;
}

#footer {
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
}

</style>

<table border="0" cellpadding="0" cellspacing="0" width="620" align="center"><tr bgcolor="#ffffff">
<tr>
<td>

[% IF email %]
You can <a href="http://perlweekly.com/">read the newsletter on the web</a>, if you prefer.
[% END %]

<p id="logo">
<a href="http://perlweekly.com/">Perl Weekly</a>
</p>
<p id="issue">
[% title %]
</p>


[% FOR text IN header %]
<p>
[% text %]
</p>
[% END %]

[% FOR ch IN chapters %]
   <p class="subtitle">[% ch.title %]</p>
   [% FOR e IN ch.entries %]
     <p class="entry">
     <a href="[% e.url %]">[% e.title %]</a>
     <br />
     [% e.text %]
     </p>
   [% END %]
[% END %]

[% IF web %]
<div id="footer">
<p>
You know, you could get this report right in your mailbox. Every Week. Free of charge!

<form class="subscribe" action="http://mail.perlweekly.com/mailman/subscribe/perlweekly" method="POST">
<span class="label">Just type in your e-mail:</span><input name="email" />
<span class="label">and click here:</span>
<input type="submit" value="Sign Me Up!" />
</form>
</p>
</div>
[% END %]


[% IF email %]
<div id="footer">
<p>
You joined the Perl Weekly to get weekly e-mails about the Perl programming language and related topics.
Want to see more? See <a href="http://perlweekly.com/archive/">the archives</a> of all the issues.

Reading this as a non-subscriber? <a href="http://perlweekly.com/">click here to join us</a> free of charge.
(c) Gabor Szabo
You can <a href="http://perlweekly.com/unsubscribe.html">unsubscribe here</a> if you don't want to receive mails any more.
</p>
<div>
[% END %]

</td></tr></table>


[% IF web %]



<script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-12199211-8']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>
[% END %]

</body>
</html>
