* {
    text-align: left;
}
body {
  font-size: 18px;
  font-family: "Helvetica Neue", Helvetica, Ubuntu;
  text-align: center;
}

p { margin: 1.2em 0em 1.35em 0em; line-height: 1.4em; }
a { color: #04c; }

ul {
  text-align: left;
}

#main {
  width: 60%;
  margin: 0 auto;
}

#box {
  margin: 0 auto;
  /* width: 700px; */
}

#stripe {
  background-color: #004065;
  color: #FFF;
  text-decoration: none;
  font-size: 40px;
  font-weight: bold;
  font-family: Gadget;

  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border: 1px solid #000;
  padding: 10px;
  margin-top: 20px;
  text-align: center;
}

#stripe a {
  color: #FFF;
  text-decoration: none;
}

.subform {
  border: 0px solid;
}


#handpicked {
  width: 60%;
  margin-bottom: 40px;
  margin-top: 30px;
  text-align: center;
}
#handpicked img {
  float: right;
}

#rssfeed {
  padding: 10px;
  border: 1px solid;
  margin: 10px;
}

#footer {
  font-size: 14px;
  text-align: center;
}
#footer p {
  text-align: center;
  /* width: 700px; */
  margin: 0 auto;
}

.selfquote {
  font-size: 16px;
  margin: 10px;
  font-style: italic;
}

.onemail {
  margin: 10px;
  font-size: 14px;
}

.formlabel {
  margin: 2px;
}

.emailinput {
  font-size: 22px;
}

.emp {
  color: red;
}

.awesome_button {
  -moz-border-radius: 5px 5px 5px 5px;
  -webkit-border-radius: 5px;
  background-color: #004065;
  color: #FFF;
  font-weight: bold;
  font-size: 18px;
  padding:  7px 9px 9px;
}
.awesome_button:hover {
  background-color: #005575;
}


#testimonials {
  background-color: #F9F9F9;
  /* width: 800px; */
  margin: 0 auto;
  position: relative;
  clear: both;
  overflow: hidden;
}

.testimonial {
  float: left;
  margin: 0 16px 20px;
  min-height: 164px;
  /* width: 362px; */
  text-align: left;
  font-size: 14px;
}
.testimonial img {
  float: left;
  margin-right: 16px;
  width: 78px;
  border: 1px solid #acc;
}
.testimonial .name {
  margin-left: 92px;
  font-weight: bold;
  margin-top: 6px;
}
.testimonial .desc {
  margin-left: 92px;
  margin-top: 0px;
}
.testimonial .quote {
  margin-left: 92px;
  color: #455;
}
.testimonial a {
  color: #888;
}

table {
  font-family: helvetica, arial, sans-serif;
  width: 700px;
}


#menu {
  border-bottom: 1px solid #ccc;
}
#menu ul {
  text-align: center;
  margin: 0;
}
#menu li {
  font-size: 12px;
  display: inline;
  list-style-type: none;
  padding-right: 10px;
}

#social_icons {
  margin-top: 10px;
}

@media (max-width: 800px) {
  #main {
     width: 95%;
  }

  table {
     width: 370px;
  }
}


