body {
  font-size: 18px;
  font-family: "Helvetica Neue", Helvetica, Ubuntu;
  text-align: center;
}

.title {
  position: relative;
  font-size: 40px;
}

#box {
  margin: 0 auto;
  width: 700px;
}
ul {
  text-align: left;
}


#stripe {
  background-color: #004065;
  color: #FFF;
  text-decoration: none;
  font-size: 40px;
  font-weight: bold;
  font-family: Gadget;

  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border: 1px solid #000;
  padding: 10px;
  margin-top: 20px;
}

#stripe a {
  color: #FFF;
  text-decoration: none;
}

.subform {
  border: 0px solid;
}

#main {
  width: 700px;
  margin: 0 auto;
}


#handpicked {
  width: 400px;
  margin-left: 150px; /* should be just centered */
  margin-bottom: 40px;
  margin-top: 30px;
}
#handpicked img {
  float: right;
}

#rssfeed {
  padding: 10px;
  border: 1px solid;
  margin: 10px;
}

#footer {
  font-size: 14px;
  text-align: center;
}
#footer p {
  text-align: center;
  width: 700px;
  margin: 0 auto;
}

.selfquote {
  font-size: 16px;
  margin: 10px;
  font-style: italic;
}

.onemail {
  margin: 10px;
  font-size: 14px;
}

.formlabel {
  margin: 2px;
}

.emailinput {
  font-size: 22px;
}

.emp {
  color: red;
}

.awesome_button {
  -moz-border-radius: 5px 5px 5px 5px;
  -webkit-border-radius: 5px;
  background-color: #004065;
  color: #FFF;
  font-weight: bold;
  font-size: 18px;
  padding:  7px 9px 9px;
}
.awesome_button:hover {
  background-color: #005575;
}


#testimonials {
  background-color: #F9F9F9;
  width: 800px;
  margin: 0 auto;
  position: relative;
  clear: both;
  overflow: hidden;
}

.testimonial {
  float: left;
  margin: 0 16px 20px;
  min-height: 164px;
  width: 362px;
  text-align: left;
  font-size: 14px;
}
.testimonial img {
  float: left;
  margin-right: 16px;
  width: 78px;
  border: 1px solid #acc;
}
.testimonial .name {
  margin-left: 92px;
  font-weight: bold;
  margin-top: 6px;
}
.testimonial .desc {
  margin-left: 92px;
  margin-top: 0px;
}
.testimonial .quote {
  margin-left: 92px;
  color: #455;
}
.testimonial a {
  color: #888;
}

