body {
  font-size: 18px;
  font-family: "Helvetica Neue", Helvetica, Ubuntu;
  text-align: center;
//  margin: 0px 400px;
//  width: 600px;
}

.title {
  position: relative;
  font-size: 40px;
}

#box {
  margin: 0 auto;
  align: center;
  width: 700px;
//  background-color: yellow;
}
ul {
  text-align: left;
}

