<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=yes">
  <title>Perl Weekly Issue #[% issue %] - [% date %] - [% subject %]</title>
</head>
<body>

<style>
* { text-align: left; }
table {
  font-family: helvetica, arial, sans-serif;
  width: 700px;
}
@media (max-width: 800px) {
  table {
     width: 370px;
  }
}
p { margin: 1.2em 0em 1.35em 0em; line-height: 1.4em; }
a { color: #04c; }

#menu {
  border-bottom: 1px solid #ccc;
}
#menu ul {
  text-align: center;
  margin: 0;
}
#menu li {
  font-size: 12px;
  display: inline;
  list-style-type: none;
  padding-right: 10px;
}

#social_icons {
  margin-top: 10px;
}

</style>

<table border="0" cellpadding="0" cellspacing="0" align="center" bgcolor="#ffffff">
<tr><td>
    <p id="logo">
    <a href="https://perlweekly.com/" style="
      background-color: #004065;
      color: #FFF;
      text-decoration: none;
      font-size: 40px;
      font-weight: bold;
      font-family: Gadget;
    
      border-radius: 5px;
      -moz-border-radius: 5px;
      -webkit-border-radius: 5px;
      border: 1px solid #000;
      padding: 10px;
    ">Perl Weekly</a>
    
    </p>
    <p id="issue"
      style="border-bottom: 1px solid #ccc;
      padding-bottom: 8px;
      font-size: 18px;">
    Issue #[% issue %] - [% date %] - [% subject %]
    </p>

    <a href="https://perlweekly.com/latest.html">latest</a> | <a href="https://perlweekly.com/archive">archive</a> | edited by [% IF editor.url %]<a href="[% editor.url %]">[% editor.name %]</a>[% ELSE %][% editor.name %][% END %]

    [% IF editor.support %]
        <div>
        This edition was made possible by the <a href="[% editor.support %]">supporters of our cause</a>.
        </div>
    [% END %]

    <div style="text-align: center">
    You can <a href="https://perlweekly.com/archive/[% issue %].html">read the newsletter on the web</a>, if you prefer.
    </div>
 
</td></tr>

<tr><td>
    <table>
    <tr><td>
        [% FOR text IN header %]
        <p style="font-size: 16px">
        [% text %]
        </p>
        [% END %]
        <p style="font-size: 14px">
        Your editor: [% editor.name %].
        </p>
    </td>
    <td>
        <img  style="right:0; bottom: 0;" src="[% UNLESS web %]https://perlweekly.com[% END %][% editor.img %]" />
    </td></tr>
    </table>
</td></tr>

[% FOR ch IN chapters %]
    <tr><td>
        <hr style="color: red" id="[% ch.id %]" />
        <div style="font-size: 18px; font-weight: bold;">[% ch.title %]</div>
        [% IF ch.header %]
            <p style="font-size: 16px">[% ch.header %]</p>
        [% END %]
    </td></tr>
    [% FOR e IN ch.entries %]
       <tr><td>
           <table style="width:100%"><tr><td>
               <div
                [% IF ch.sponsor %]
                style="
                    background-color:#EEEEEE;
                    border-radius: 10px;
                    -moz-border-radius: 10px;
                    -webkit-border-radius: 10px;
                    padding-left: 10px;
                   "
                [% END %]
               >
               <p style="margin-left: 1.5em;">
               <a href="[% e.url %]" style="
                  font-size: 18px;
                  font-weight: bold;
                  ">[% e.title | html %]</a>
               <a href="https://twitter.com/home?status=[% e.twitter | html %]"><img src="https://perlweekly.com/img/twitter16.png" alt="Tweet"></a>
               <br />
               [%- IF e.author -%]
                 <span style="font-size: 14px"> 
                   by 
                       [%- IF e.author.url -%]
                          <a href="[% e.author.url %]">[%- e.author.name -%]</a>
                       [%- ELSE -%]
                          [%- e.author.name -%]
                       [%- END -%]
                       [%- IF e.author.pause -%]
                         (<a href="https://metacpan.org/author/[% e.author.pause %]">[% e.author.pause %]</a>)
                       [%- END -%]
                  </span>
               [%- END -%]
               <p style="font-size: 16px">
                 [% e.text %]
               </p>
               [% IF social_links %]
                 <br />
                 <a href="https://twitter.com/home?status=[% e.title %] [% e.url %] via @perlweekly">Tweet</a>
               [% END %]
               </div>
           [% IF e.img %]</td><td style="width:100px"><img src="[% UNLESS web %]https://perlweekly.com[% END %][% e.img %]" title="[% e.img_title %]" width="80" />[% END %]
           </td></tr></table> 
        </td></tr>
    [% END %]
    [% IF ch.footer %]
      <tr><td>
      <p style="font-size: 16px">[% ch.footer %]</p>
      </td></tr>
    [% END %]
[% END %]

<tr><td>
[% FOR text IN footer %]
<p>
[% text %]
</p>
[% END %]

<div id="footer" style="
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
">
<p>
You joined the Perl Weekly to get weekly e-mails about the Perl programming language and related topics.
<br />
Want to see more? See <a href="https://perlweekly.com/archive/">the archives</a> of all the issues.
<br />
Reading this as a non-subscriber? <a href="https://perlweekly.com/">click here to join us</a> free of charge.
<br />
(C) Copyright <a href="https://szabgab.com/">Gabor Szabo</a>. The articles are copyright the respective authors.</p>
You can <a href="https://perlweekly.com/unsubscribe.html">unsubscribe here</a> if you don't want to receive mails any more.
</p>
<p>
You can freely redistribute this message if
you keep the whole message intact, including
the Copyright notice and this text.
</p>
<div>

</td></tr>
</table>

</body>
</html>
