<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en-us">
<head>
<title>Perl Weekly Promotion</title>
 <link rel="stylesheet" type="text/css" href="/style.css" /> 
 <script src="/js/jquery.js" type="text/javascript"></script>
 <script src="/js/mailman.js" type="text/javascript"></script>
</head>
<body id="home">
<div id="stripe"><a href="/">Promoting the Perl Weekly</a></div>
<table border="0" cellpadding="0" cellspacing="0" width="620" align="center"><tr bgcolor="#ffffff">
<tr>
<td>
<p>
If you like the <a href="/">Perl Weekly newsletter</a> it would be awesome if you could help spreading the word about it.
This can be done by sending one of the issues to a co-worker or a friend and recommending they <a href="/">subscribe</a>
to the newsletter. This can be done even without forwarding the newsletter just by sending a link and a recommendation.
</p>

<p>
If you have a web site linking to the Perl Weekly would be also great. Here are a few examples and the appropriate code you can use:
(hint: it would be nice to have the words <b>news</b> and <b>Perl</b> in the anchor text).
</p>

<hr />

<p>
<a href="http://perlweekly.com/">Perl Weekly newsletter</a>
</p>
<p>
<textarea rows="2" cols="80">
<a href="http://perlweekly.com/">Perl Weekly newsletter</a>
</textarea>
</p>

<hr />

<p>
Subscribe to get <a href="http://perlweekly.com/">weekly Perl news</a>.
</p>
<p>
<textarea rows="2" cols="80">
Subscribe to get <a href="http://perlweekly.com/">weekly Perl news</a>.
</textarea>
</p>

<hr />

<p>
<a href="http://perlweekly.com/" alt="Perl Weekly newsletter"><img width="290" height="72" src="http://perlweekly.com/img/perl_weekly.png" border="0" /></a>
<br />
(a 290 x 72 pixel image)
</p>
<p>
<textarea rows="4" cols="80">
<a href="http://perlweekly.com/" alt="Perl Weekly newsletter"><img width="290" height="72" src="http://perlweekly.com/img/perl_weekly.png" border="0" /></a>
</textarea>
</p>

<hr />
<p>
<a href="http://perlweekly.com/" alt="Perl Weekly newsletter"><img width="234" height="60" src="http://perlweekly.com/img/perl_weekly_234x60.png" border="0" /></a>
<br />
(a 234 x 60 pixel image)
</p>
<p>
<textarea rows="4" cols="80">
<a href="http://perlweekly.com/" alt="Perl Weekly newsletter"><img width="234" height="60" src="http://perlweekly.com/img/perl_weekly_234x60.png" border="0" /></a>
</textarea>
</p>

<hr />

<p>
<a href="http://perlweekly.com/" style="
  background-color: #004065;
  color: #FFF;
  text-decoration: none;
  font-size: 40px;
  font-weight: bold;
  font-family: Gadget;

  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border: 1px solid #000;
  padding: 10px;
">Perl Weekly</a>
</p>
<p>
(text-only link with CSS)
</p>
<p>
<textarea rows="14" cols="80">
<a href="http://perlweekly.com/" style="
  background-color: #004065;
  color: #FFF;
  text-decoration: none;
  font-size: 40px;
  font-weight: bold;
  font-family: Gadget;

  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border: 1px solid #000;
  padding: 10px;
">Perl Weekly</a>
</textarea>
</p>
<hr />

<!--
<p>
This was used to create the image for the favicon
</p>
<br />
<a href="http://perlweekly.com/" style="
  background-color: #004065;
  color: #FFF;
  text-decoration: none;
  font-size: 40px;
  font-weight: bold;
  font-family: Gadget;

  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border: 1px solid #000;
  padding: 8px;
">Pw</a>
</p>
-->

</td>
</tr></table>



[% INCLUDE tt/incl/tracking.tt %]

</body>
</html>
