                 <div class="a2a_kit a2a_kit_size_16 a2a_default_style"
[% IF e -%]
                   data-a2a-url="[% e.url %]" data-a2a-title="[% e.title %]"
[% END -%]
>
                   <a class="a2a_button_twitter"></a>
                   <a class="a2a_button_facebook"></a>
                   <a class="a2a_button_email"></a>
                   <a class="a2a_dd" href="https://www.addtoany.com/share"></a>
                 </div>
