<?xml version="1.0" encoding="UTF-8"?>
<urlset xmlns="http://www.sitemaps.org/schemas/sitemap/0.9">
[% FOR p IN pages %]
  <url>
    <loc>[% p.filename %]</loc>
    [% IF p.timestamp %]
      <lastmod>[% p.timestamp %]</lastmod>
    [% END %]
  </url>
[% END %]
</urlset>
