<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en-us">
<head>
<title>Perl Weekly: A Free, Weekly Perl Email Newsletter</title>

 <link rel="shortcut icon" href="/favicon.ico" />
 <link rel="stylesheet" type="text/css" href="/style.css" /> 
 <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
 <meta http-equiv="Content-Style-Type" content="text/css" />
 <meta name="description" content="Perl Weekly is a Free, Email Newsletter filled with hand picked articles and news." />
 <meta name="keywords" content="Perl, Perl 5, Perl 6, Rakudo, newsletter, news, articles" />

 <script src="/js/jquery.js" type="text/javascript"></script>
 <script src="/js/mailman.js" type="text/javascript"></script>

</head>

<body id="home">
<h1 class="title">Perl Weekly</h1>
<div>
We are sorry to see you leave and hope to see you back later.
</div>
<div>
In order to unsubscribe <a href="http://mail.perlweekly.com/mailman/listinfo/perlweekly">visit this page</a>
and fill out your email address at the bottom of the page.
</div>

[% INCLUDE tt/incl/tracking.tt %]
</body>
</html>
